.auth-layout {
  height: 100%;
  background-color: #0095ff;
  display: flex;
  align-items: center;
  
  .logo-holder {
    text-align: center;
    margin-bottom: 20px;
  }
  .form-holder {
    padding: 45px 50px 40px;
    width: 350px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 3px;
    
    .submit-holder {
      margin-top: 15px;
      
      .btn {
        width: 100%;
      }
    }
  }
  .after-form {
    text-align: center;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    
    a {
      color: #fff;
      text-decoration: underline;
      transition: all .2s;
      &:hover {
        color: #fff;
        opacity: .8;
      }
    }
  }
}