header {
  padding: 10px 45px;
  background-color: #0095ff;
  display: flex;
  align-items: center;
  user-select: none;
  
  > div {
    width: 25%;
    font-size: 0;
  }
  nav {
    width: 50%;
    text-align: center;
    
    a {
      font-size: 14px;
      color: #005795;
      margin: 0 25px;
      padding: 10px 5px;
      transition: all .2s;
      &.active {
        color: #fff;
      }
      &:hover {
        &:not(.active) {
          color: #054370;
        }
      }
    }
  }
  .logo-holder {
    font-size: 0;
    
    img {
      height: 16px;
      width: auto;
    }
  }
  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: #fff;
    margin-right: 0;
    margin-left: auto;
  }
}