.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  pointer-events: none;
  transition: opacity .2s;
  
  .modal-wrapper  {
    width: 100%;
    max-height: 100%;
    overflow: auto;
    
    .modal-container {
      pointer-events: all;
      position: relative;
      width: 95%;
      max-width: 480px;
      padding: 45px 50px 40px;
      background: #fff;
      margin: 50px auto;
      border-radius: 4px;
      transition: all .2s;
    }
  }
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9997;
}

.modal-anim-enter {
  opacity: 0;
  transition: all .2s;
}

.modal-anim-enter.modal-anim-enter-active {
  opacity: 1;
}

.modal-anim-leave {
  opacity: 1;
  transition: all .2s;
}

.modal-anim-leave.modal-anim-leave-active {
  opacity: 0;
}

//
.modal-container {
  
  .title {
    font-size: 21px;
    color: #1d2123;
    margin-bottom: 25px;
    
    small {
      display: block;
      font-size: 14px;
      color: #7c7d82;
      font-weight: normal;
      margin-top: 3px;
    }
  }
}