.projects-table-layout {
  margin: 50px 0;
  
  .table-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
    .title {
      font-size: 24px;
      font-weight: 500;
      color: #191d20;
      
      span {
        font-weight: normal;
        color: #959b9f;
      }
    }
  }
  
  .no-projects {
    color: #959b9f;
    
    span {
      text-transform: lowercase;
    }
  }
}

table {
  
  &.default-style {
    width: 100%;
    border: 0;
    border-collapse: collapse;
    
    tr {
      
      th {
        text-transform: uppercase;
        font-size: 12px;
        color: #959b9f;
        font-weight: 500;
        text-align: left;
        border-bottom: 2px solid #eee;
        padding: 7px 5px;
      }
      td {
        font-size: 14px;
        color: #6c6e71;
        font-weight: normal;
        border-bottom: 1px solid #eee;
        padding: 9px 5px;
        line-height: 1;
        
        .project-color {
          position: relative;
          top: -1px;
          width: 15px;
          height: 15px;
          border-radius: 3px;
          background-color: #f4e9f7;
          display: inline-block;
          vertical-align: middle;
          margin-right: 8px;
        }
        span {
          display: inline-block;
          vertical-align: middle;
        }
      }
      th,
      td {
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}

.new-project-form {
  
  .form-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;
    
    .btn {
      margin-left: 20px;
    }
  }
}