.btn {
  font-size: 12px;
  color: #fff;
  font-weight: 500;
  border-radius: 3px;
  background-color: $blue;
  outline: none;
  border: none;
  font-family: inherit;
  line-height: 1;
  padding: 9px 20px;
  user-select: none;
  cursor: pointer;
  transition: all .2s;
  &:hover {
    background-color: $lightBlue;
  }
  
  &.btn-medium {
    font-size: 14px;
    font-weight: normal;
    padding: 13px 22px;
  }
  &.btn-green {
    background-color: #1dce67;
    &:hover {
      background-color: #10bd58;
    }
  }
}

.btn-cancel {
  font-size: 14px;
  color: #e74c3c;
  user-select: none;
  cursor: pointer;
  transition: all .2s;
  &:hover {
    color: #e72815;
    text-decoration: underline;
  }
}