.form-item {
  
  &.type-text,
  &.type-select,
  &.type-color-picker {
    margin-bottom: 20px;
    
    label {
      font-size: 14px;
      color: #1d2123;
      display: block;
      margin-bottom: 8px;
    }
  }
  &.type-text {
    position: relative;
    
    &.icon-time,
    &.icon-money {
      &:before {
        content: 'f';
        font-family: untitled-font-1;
        position: absolute;
        bottom: 10px;
        right: 15px;
        line-height: 1;
        color: #959b9f;
        font-size: 18px;
      }
      &.icon-money {
        &:before {
          content: 'h';
          font-size: 20px;
          bottom: 9px;
        }
      }
      
      input {
        padding-right: 45px;
      }
    }
    
    input {
      width: 100%;
      border: 1px solid #cfd8dc;
      border-radius: 3px;
      font-size: 14px;
      color: #888a92;
      font-family: inherit;
      outline: none;
      line-height: 1.2;
      padding: 11px 15px;
      transition: all .2s;
      &:focus {
        border-color: $blue;
      }
    }
  }
  &.type-select {
    position: relative;
    &:after {
      content: 'd';
      font-family: untitled-font-1;
      line-height: 1;
      font-size: 15px;
      color: #959b9f;
      position: absolute;
      right: 15px;
      bottom: 10px;
    }
    select {
      -webkit-appearance: none;
      width: 100%;
      border: 1px solid #cfd8dc;
      border-radius: 3px;
      font-size: 14px;
      color: #888a92;
      font-family: inherit;
      outline: none;
      line-height: 1.2;
      padding: 11px 15px;
      background-color: #fff;
      transition: all .2s;
      &:focus {
        border-color: $blue;
      }
    }
  }
  &.type-toggler {
    user-select: none;
    margin-bottom: 20px;
    
    > .label {
      font-size: 14px;
      color: #1d2123;
      display: block;
      margin-bottom: 8px;
    }
    label {
      display: inline-block;
      padding: 10px 0;
      cursor: pointer;
      
      input {
        display: none;
        &:checked {
          
          + div {
            
            .box {
              &:after {
                transform: translateX(19px);
              }
            }
            .text {
              
              > div {
                &:nth-child(1) {
                  display: none;
                }
                &:nth-child(2) {
                  display: block;
                }
              }
            }
          }
        }
      }
      
      > div {
        display: flex;
        align-items: center;
        
        .box {
          position: relative;
          width: 40px;
          height: 20px;
          background-color: #eaeff1;
          border-radius: 30px;
          &:after {
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            width: 16px;
            height: 16px;
            background-color: #0095ff;
            border-radius: 30px;
            transition: all .2s;
          }
        }
        .text {
          padding-left: 8px;
          font-size: 14px;
          color: #888a92;
          
          > div {
            &:nth-child(1) {
              display: block;
            }
            &:nth-child(2) {
              display: none;
            }
          }
        }
      }
    }
  }
  &.type-color-picker {
    
    input {
      display: none;
    }
    .component-holder {
      position: relative;
    }
    .input {
      position: relative;
      width: 100%;
      background-color: #fff;
      border: 1px solid #cfd8dc;
      border-radius: 3px;
      padding: 7px;
      cursor: pointer;
      transition: all .2s;
      &:after {
        content: 'd';
        font-family: untitled-font-1;
        line-height: 1;
        font-size: 15px;
        color: #959b9f;
        position: absolute;
        right: 15px;
        bottom: 10px;
      }
      &.open {
        border-color: $blue;
        &:after {
          bottom: 12px;
          transform: rotate(180deg);
        }
        
        + .colors-dropdown {
          display: block;
        }
      }
      
      .color-box {
        position: relative;
        width: 24px;
        height: 24px;
        border-radius: 3px;
      }
    }
    .colors-dropdown {
      position: absolute;
      background-color: #fff;
      border: 1px solid #cfd8e6;
      border-radius: 3px;
      top: 45px;
      right: 0;
      z-index: 3;
      padding: 4px;
      display: none;
      
      .colors-list {
        font-size: 0;
        width: 96px;
        
        div {
          width: 24px;
          height: 24px;
          border-radius: 3px;
          font-size: 0;
          margin: 4px;
          display: inline-block;
          vertical-align: top;
          cursor: pointer;
          transition: all .2s;
          &:hover {
            &:not(.shuffle) {
              transform: scale(1.2);
            }
          }
          
          &.shuffle {
            font-size: 16px;
            color: #959b9f;
            line-height: 1;
            text-align: center;
            transition: all .2s;
            &:hover {
              color: $blue;
            }
            
            i {
              position: relative;
              top: 5px;
            }
          }
        }
      }
    }
  }
}