body,
html {
  font-family: 'ApercuPro';
  background-color: #fafafa;
  height: 100%;
  
  > div,
  > div > div {
    height: 100%;
  }
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 820px;
  padding: 0 20px;
  margin: 0 auto;
}

.form-row {
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  align-items: flex-end;
  
  [class^='col-'] {
    padding: 0 10px;
    &.col-1-1 {
      width: 100%;
    }
    &.col-3-4 {
      width: 75%;
    }
    &.col-1-2 {
      width: 50%;
    }
    &.col-1-3 {
      width: 33.3%;
    }
    &.col-1-4 {
      width: 25%;
    }
  }
}

.create-new-client-btn {
  font-size: 14px;
  color: #959b9f;
  margin-bottom: 20px;
  padding: 12px 0;
  
  span {
    color: $blue;
    cursor: pointer;
    transition: all .2s;
    &:hover {
      color: $lightBlue;
      text-decoration: underline;
    }
  }
}

hr {
  margin: 0 0 20px;
  border: none;
  width: 100%;
  height: 1px;
  background-color: #eee;
}