@font-face {
  font-family: 'ApercuPro';
  src: url('./ApercuPro.eot?#iefix') format('embedded-opentype'),  url('./ApercuPro.otf')  format('opentype'),
	     url('./ApercuPro.woff') format('woff'), url('./ApercuPro.ttf')  format('truetype'), url('./ApercuPro.svg#ApercuPro') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ApercuPro';
  src: url('./ApercuPro-Medium.eot?#iefix') format('embedded-opentype'),  url('./ApercuPro-Medium.otf')  format('opentype'),
	     url('./ApercuPro-Medium.woff') format('woff'), url('./ApercuPro-Medium.ttf')  format('truetype'), url('./ApercuPro-Medium.svg#ApercuPro-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}